apiVersion: v1
kind: ConfigMap
metadata:
  name: api-gateway-config
data:
  default.conf: |
    server {
        listen 80;

        location /user-service/ {
            proxy_pass http://user-service;
        }

        location /vod-management-service/ {
            proxy_pass http://vod-management-service;
        }
    }