<div class="edit-profile-container">
  <!-- EDIT PROFILE SECTION -->
  <mat-card *ngIf="!errorMessage">
    <mat-card-header>
      <!-- Go back button -->
      <button class="back" mat-icon-button matSuffix>
        <mat-icon class="back" (click)="goBack()">arrow_back</mat-icon>
      </button>
      <!-- Title -->
      <mat-card-title>Edit Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Edit profile form -->
      <form [formGroup]="editForm" (ngSubmit)="onEdit()">
        <!-- Username field -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username" required>
        </mat-form-field>
        <!-- Email field -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required>
        </mat-form-field>
        <!-- Password field -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>
        <!-- Buttons -->
        <div class="button-container">
          <!-- Edit button -->
          <button class="custom-button" mat-raised-button (click)="onEdit()"><mat-icon>edit</mat-icon>Save changes</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  
  <!-- ERROR SECTION -->
  <!-- <div class="error-container" *ngIf="errorMessage">
    <mat-card class="error">
      <mat-card-header>
        <mat-card-title class="error">Registration failed</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="errorMessage" class="error">
        <p class="error">{{errorMessage}}</p>
        <p class="error">Try again!</p>
        <button mat-raised-button class="error-button" routerLink="/register" (click)="tryAgain()"><mat-icon>person_add</mat-icon>Registration</button>
      </mat-card-content>
    </mat-card>
  </div> -->
</div>  
  
