<mat-toolbar color="primary" class="toolbar">
  <!-- Alkalmazás címe -->
  <button mat-icon-button matSuffix>
    <mat-icon class="home" routerLink="/">home</mat-icon>
  </button>
  <span class="app-title" routerLink="/">VOD Application</span>
   
  <!-- Középen a keresősáv -->
  <div class="search-bar">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search videos...">
      <button mat-icon-button matSuffix>
        <mat-icon class="search">search</mat-icon>
      </button>
    </mat-form-field>
  </div>
   
  <!-- Navigációs gombok -->
  <span class="nav-buttons">
    <button *ngIf="!isLoggedIn" mat-raised-button class="custom-button" routerLink="/login"><mat-icon class="basic">login</mat-icon>Login</button>
    <button *ngIf="!isLoggedIn" mat-raised-button class="custom-button" routerLink="/register"><mat-icon class="basic">person_add</mat-icon>Register</button>
    <button *ngIf="isLoggedIn" mat-raised-button  class="custom-button"routerLink="/profile"><mat-icon class="basic">person</mat-icon>Profile</button>
    <button *ngIf="isLoggedIn" mat-raised-button  class="custom-button" (click)="logout()"><mat-icon class="basic">logout</mat-icon>Log out</button>
  </span>
</mat-toolbar>

<div class="profile-container">
    <mat-card *ngIf="userProfile">
      <mat-card-header>
        <div mat-card-avatar>
            <mat-icon class="profile">person</mat-icon>
        </div>
        <mat-card-title>Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Username:</strong> {{ userProfile.username }}</p>
        <p><strong>Email:</strong> {{ userProfile.email }}</p>
        <p><strong>Registration date:</strong> {{ userProfile.registration_date | date:'yyyy-MM-dd'}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="custom-button" (click)="editProfile()"><mat-icon class="basic">edit</mat-icon>Edit Profile</button>
        <button mat-raised-button class="custom-button" (click)="logout()"><mat-icon class="basic">logout</mat-icon>Log out</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="error" *ngIf="errorMessage">
      <mat-card-header>
        <mat-card-title class="error">No profile data available</mat-card-title>
      </mat-card-header>
      <mat-card-content class="error">
        <p>{{errorMessage}}</p>
      </mat-card-content>
    </mat-card>
</div>
  