.not-found-container {
  /* FLEXBOX */ 
  display: flex;
  justify-content: center;
  align-items: center;
  /* WIDTH, HEIGHT */
  height: 100vh;
  /* COLOR */
  background-color: lightgray;
}
  
mat-card {
  /* FLEXBOX */  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* WIDTH, HEIGHT */
  width: 600px;
  height: 250px;
  /* MARGIN, PADDING */
  padding: 24px;
  text-align: center;
  /* COLOR */
  background-color: rgb(19,19,19);
}
  
mat-card-title {
  /* MARGIN, PADDING */
  margin: 0px 0px 30px 0px;
  /* COLOR */
  color: #a70808;
  /* TEXT */
  font-weight: bold;
  font-size: 50px;
}
  
mat-card-content {
  /* COLOR */
  color: #a70808;
  /* TEXT */
  font-size: 20px;
}
  
mat-card-actions {
  /* MARGIN, PADDING */
  margin-top: 16px;
}  