.register-container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  background-color: rgb(19, 19, 19);
}

mat-card {
  margin-top: 30px;
  width: 500px;
  height: 490px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(97, 189, 220);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

mat-card-header {
  text-align: center; /* Középre igazítás az egész headerre */
  display: flex;
  flex-direction: column; /* Függőleges igazítás a címek között */
  align-items: center; /* Középre igazít minden elemet */
  margin-bottom: 16px; /* Extra térköz a tartalom előtt */
}

.full-width {
  width: 100%;
  margin-bottom: 24px; /* Nagyobb térköz az egyes mezők között */
}

mat-card-title{
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(19, 19, 19);
  margin-top: 18px;
}

.button-container {
  display: flex;
  justify-content: center; /* Gomb igazítása középre*/
  margin-top: 16px; /* Térköz a gomb felett */
}

.custom-button:hover{
  color: rgb(97, 189, 220) !important;
  background-color: rgb(19, 19, 19) !important;
}

.custom-button{
  background-color: rgb(97, 189, 220) !important;
  color: rgb(19, 19, 19) !important;
  border: 1px solid rgb(19, 19, 19) !important;
}