<!-- TOOLBAR SECTION -->
<mat-toolbar color="primary" class="toolbar">
  <!-- Application title -->
  <button mat-icon-button matSuffix (click)="home()">
    <mat-icon class="home" routerLink="/">home</mat-icon>
  </button>
  <span class="app-title" routerLink="/" (click)="home()">VOD Application</span>
   
  <!-- Searchbar -->
  <div class="search-bar">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search videos..." type="text" [(ngModel)]="searchQuery" (keydown.enter)="search()">
      <button mat-icon-button matSuffix (click)="search()">
        <mat-icon class="search">search</mat-icon>
      </button>
    </mat-form-field>
  </div>
   
  <!-- Nvigation buttons -->
  <span class="nav-buttons">
    <!-- Login button -->
    <button *ngIf="!isLoggedIn" mat-raised-button class="custom-button" routerLink="/login"><mat-icon class="basic">login</mat-icon>Login</button>
    <!-- Register button -->
    <button *ngIf="!isLoggedIn" mat-raised-button class="custom-button" routerLink="/register"><mat-icon class="basic">person_add</mat-icon>Register</button>
    <!-- Profile button -->
    <button *ngIf="isLoggedIn" mat-raised-button  class="custom-button"routerLink="/profile"><mat-icon class="basic">person</mat-icon>Profile</button>
    <!-- Log out button -->
    <button *ngIf="isLoggedIn" mat-raised-button  class="custom-button" (click)="logout()"><mat-icon class="basic">logout</mat-icon>Log out</button>
  </span>
</mat-toolbar>

<!-- HOME SECTION -->
<div class="home-container">
  <div class="home-content">
    <h1>Welcome to the application!</h1>
    <!-- If the user is not loged in display a text to encourage them to jpin our community -->
    <p *ngIf="!isLoggedIn">Explore the best videos, and join us!</p>
  </div>
</div>

<!-- VIDEO SECTION -->
<div class="video-list-container">
  <div>
    <div *ngIf="!errorMessage && categories.length > 0">
      <div *ngIf="isLoading" class="loading-spinner">
        <p>Adatok betöltése...</p>
      </div>

      <!-- Search video section -->
      <div *ngIf="isSearch && !errorMessage">
        <div *ngFor="let category of searchCategories" class="video-category-container">
          <div>
            <h2 class="video-category">{{ category }}</h2>
            <!-- <button class="scroll-button" (click)="scrollLeft()">&#8592; Előző</button>
            <button class="scroll-button" (click)="scrollRight()">Következő &#8594;</button> -->
            <div class="video-card-container" #videoList>
              <mat-card *ngFor="let video of searchedVideosByCategory[category]" class="video-card" (click)="onSelectVideo(video)">
                <mat-card-header>
                  <mat-card-title>{{ video.title }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p *ngIf="video.description.length > 50">{{ video.description | slice:0:60 }}...</p>
                  <p *ngIf="video.description.length <= 50">{{ video.description }}</p>
                  <mat-icon class="play">play_circle</mat-icon>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>

      <!-- Default video section -->
      <div *ngIf="!isSearch">
        <div *ngFor="let category of categories" class="video-category-container">
          <div>
            <h2 class="video-category">{{ category }}</h2>
            <!-- <button class="scroll-button" (click)="scrollLeft()">&#8592; Előző</button>
            <button class="scroll-button" (click)="scrollRight()">Következő &#8594;</button> -->
            <div class="video-card-container" #videoList>
              <mat-card *ngFor="let video of videosByCategory[category]" class="video-card" (click)="onSelectVideo(video)">
                <mat-card-header>
                  <mat-card-title>{{ video.title }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p *ngIf="video.description.length > 50">{{ video.description | slice:0:60 }}...</p>
                  <p *ngIf="video.description.length <= 50">{{ video.description }}</p>
                  <mat-icon class="play">play_circle</mat-icon>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <!-- ERROR SECTION -->
  <!-- Display the error massage if there is any -->
  <div class="error-container">
    <mat-card class="error" *ngIf="!isLoading &&  (categories.length === 0 || errorMessage)">
      <mat-card-header>
        <mat-card-title class="error">No video available</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="errorMessage" class="error">
        <p>{{errorMessage}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

