/* VARIABLES */
// $primary-color: rgb(97, 189, 220);
// $secondary-color: rgb(19, 19, 19);
// $third-color: lightgray;
$error-color: rgb(148, 17, 17);

/* NAVIGATION/TOOL BAR SECTION */
.toolbar {
  /* FLEXBOX */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* WIDTH, HEIGHT */
  height: 80px;
  /* MARGIN, PADDING */
  padding: 0px 16px;
  /* COLOR */
  //background-color: $primary-color;
  background-color: var(--primary-color);
}

.app-title {
  /* MARGIN, PADDING */
  margin: 0px 0px 0px 10px;
  /* TEXT */
  font-size: 1.5rem;
  font-weight: bold;
  /* COLOR */
  color: var(--secondary-color);
  /* CURSOR */
  cursor: pointer;
}

.search-bar {
  /* FLEXBOX */
  flex-grow: 1;
  /* MARGIN, PADDING */
  margin-left: 20px;
  margin-top: 20px;
}

mat-form-field {
  /* WIDTH, HEIGHT */
  width: 50%;
}

::ng-deep .mat-slide-toggle-thumb {
  display: none !important; 
}

.mat-slide-toggle-thumb {
  display: none !important;
}

.custom-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px; /* Ikon méret */
  color: green; /* Ikon szín */
}

.nav-buttons button {
  /* MARGIN, PADDING */
  margin-left: 10px;
}

.custom-button:hover{
  /* COLOR */
  //color: $primary-color !important;
  color: var(--primary-color) !important;
  //background-color: $secondary-color !important;
  background-color: var(--secondary-color) !important;
}

.custom-button{
  /* COLOR */
  //color: $secondary-color !important;
  color: var(--secondary-color) !important;
  //background-color: $primary-color !important;
  background-color: var(--primary-color) !important;
  /* BORDER */
  //border: 1px solid $secondary-color !important;
  border: 1.1px solid var(--secondary-color) !important;
}

::ng-deep .mat-slide-toggle-thumb {
  background-color: red; /* Szín módosítása */
  width: 28px; /* Thumb méret */
  height: 28px; /* Thumb magasság */
}

::ng-deep .mat-slide-toggle-bar {
  background-color: blue; /* Bar szín */
  height: 12px; /* Bar magasság */
}


/*HOME (WELCOME) SECTION*/
.home-content {
  /* MARGIN, PADDING */
  margin: 20px;
  /* COLOR */
  //color: $primary-color;
  color: var(--primary-color);
  /* TEXT */
  text-align: center;
}

.home-container {
  /* FLEXBOX */
  display: flex;
  align-items: start;
  justify-content: center;
  /* COLOR */
  //background-color: $secondary-color;
  background-color: var(--secondary-color);
}

/*VIDEO_LIST SECTION*/
.video-list-container{
  /* FLEXBOX */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* WIDTH, HEIGHT */
  width: 100%;
  height: 80%;
  /* MARGIN, PADDING */
  padding-bottom: 40px;
  /* COLOR */
  //background-color: $secondary-color;
  background-color: var(--secondary-color);
  /* SCROLL */
  overflow: hidden;
}

.video-category-container{
  /* MARGIN, PADDING */
  margin-left: 40px;
}

.video-card-container {
  /* FLEXBOX */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  /* WIDTH, HEIGHT */
  width: 100%;
  /* MARGIN, PADDING */
  padding: 20px;
  gap: 40px;
  /* COLOR */
  //background-color: $secondary-color;
  background-color: var(--secondary-color);
  /* SCROLL */
  overflow-x: auto;
}

.video-card {
  /* FLEXBOX */
  flex-shrink: 0;
  /* WIDTH, HEIGHT */
  width: 340px;
  height: 175px;
  max-width: 100%;
  /* MARGIN, PADDING */
  padding: 10px;
  /* COLOR */
  //background-color: $primary-color;
  background-color: var(--primary-color);
  /* TRANSFORM */
  transition: transform 0.3s ease;
  /* BORDER */
  border-radius: 8px;
  /* CURSOR */
  cursor: pointer;
  /* POSITION */
  position: relative;
  /* SHADOW */
  box-shadow: 0px 4px 6px black;
}

.video-card:hover {
  /* COLOR */
  //background-color: $third-color;
  background-color: var(--third-color);
  /* TRANSFORM */
  transform: scale(1.08);
}

mat-card-header {
  /* FLEXBOX */
  display: flex;
  justify-content: start;
  /* MARGIN, PADDING */
  gap: 10px;
}

mat-card-title{
  /* COLOR */
  //color: $secondary-color;
  color: var(--secondary-color);
  /* TEXT */
  font-size: 1.5rem;
  font-weight: bold;
}

.play{
  /* FLEXBOX */
  flex-shrink: 0;
  /* TRANSFORM */
  transition: opacity 0.3s ease;
  opacity: 0;
  /* POSITION */
  position: absolute;
  bottom: 27px;
  right: 26px;
  /* TRANSFORM */
  transform: scale(1.5);
}

.video-card:hover mat-icon {
  /* TRANSFORM */
  opacity: 0.9;
}

mat-card-content{
  /* FLEXBOX */
  flex-grow: 1;
  /* COLOR */
  //color:$secondary-color;
  color: var(--secondary-color);
  /* TEXT */
  font-size: medium;
  /* SCROLL */
  overflow: hidden;
}

.video-category{
  /* MARGIN, PADDING */
  margin-top: 40px;
  margin-left: 22px;
  /* COLOR */
  //color: $primary-color;
  color: var(--primary-color);
}

.scroll-button{
  /* MARGIN, PADDING */
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  /* COLOR */
  //background-color: $primary-color !important;
  background-color: var(--primary-color) !important;
  //color: $secondary-color !important;
  color: var(--secondary-color) !important;
  /* BORDER */
  //border: 1px solid $secondary-color !important;
  border: 1px solid var(--secondary-color) !important;
}

.loading-spinner{
  /* COLOR */
  //color: $primary-color;
  color: var(--primary-color);
  /* TEXT */
  text-align: center;
}

/* ERROR */
.error-container{
  /* FLEXBOX */
  display: flex;
  align-items: start;
  justify-content: center;
  /* WIDTH, HEIGHT */
  height: 63vh;
  /* COLOR */
  //background-color: $secondary-color;
  background-color: var(--secondary-color);
  /* MARGIN, PADDING */
  margin: auto;
}

.error{
  /* COLOR */
  color: $error-color;
}

mat-card.error {
  /* FLEXBOX */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* WIDTH, HEIGHT */
  width: 600px;
  height: 250px;
  /* COLOR */
  //background-color: $third-color;
  background-color: var(--third-color);
  /* MARGIN, PADDING */
  margin-top: 20px;
  padding: 24px;
  /* TEXT */
  text-align: center;
}

mat-card-title.error {
  /* MARGIN, PADDING */
  margin-top: 40px;
  /* COLOR */
  color: $error-color;
  /* TEXT */
  font-size: 50px;
  font-weight: bold;
}

mat-card-content.error {
  /* MARGIN, PADDING */
  margin-top: 30px;
  /* COLOR */
  color: $error-color;
  /* TEXT */
  font-size: 20px;
}

/* LOADING SECTION */
.loading-container {
  /* FLEXBOX */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* WIDTH, HEIGHT */
  width: 180px;
  /* MARGIN, PADDING */
  margin: auto;
  /* TEXT */
  //color: $primary-color;
  color: var(--primary-color);
}

/* ICONS */
mat-icon.home{
  /* MARGIN, PADDING */
  padding-bottom: 6px;
  /* COLOR */
  //color: $secondary-color;
  color: var(--secondary-color);
  /* TRANSFORM */
  transform: scale(1.5);
}

mat-icon.search{
  /* COLOR */
  //color: $secondary-color;
  color: gray;
  /* TRANSFORM */
  transform: scale(1.1);
}

mat-icon.basic{
  /* TRANSFORM */
  transform: scale(1);
}
