.video-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Az oldal teljes magasságát kitölti */
    background-color: #f3f4f6; /* Halvány szürke háttér */
}
  
mat-card {
    max-width: 600px;
    width: 100%;
    padding: 24px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Finom árnyék */
    border-radius: 8px; /* Kerekített sarkok */
}
  
mat-card-title {
    font-size: 24px;
    font-weight: bold;
}
  
mat-card-subtitle {
    font-size: 16px;
    color: gray;
}
  
mat-card-content {
    font-size: 14px;
    color: #333;
    margin-top: 16px; /* Térköz a szöveg előtt */
}
  
mat-card-actions {
    display: flex;
    justify-content: flex-end; /* Gomb jobb oldalra igazítása */
    margin-top: 24px; /* Térköz a gomb előtt */
}  