.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: rgb(97, 189, 220);
    height: 80px;
}
  
.app-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px 631px 0px 0px;
}
  
.search-bar {
    flex-grow: 1;
    margin-left: 20px;
    margin-top: 20px;
    color: rgb(19, 19, 19) !important;
    border-color: rgb(19, 19, 19) !important;
}
  
mat-form-field {
    width: 50%;
}
  
.nav-buttons button {
    margin-left: 10px;
}
  
.custom-button:hover{
    color: rgb(97, 189, 220) !important;
    background-color: rgb(19, 19, 19) !important;
}
  
.custom-button{
    background-color: rgb(97, 189, 220) !important;
    color: rgb(19, 19, 19) !important;
    border: 1px solid rgb(19, 19, 19) !important;
}

.video-container {
    background-color: rgb(19, 19, 19);
    border-radius: 0px; 
}
  
.video-card {
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(19, 19, 19);
}

mat-card-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 220px;
    color: rgb(97, 189, 220);
}

.video-details{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    margin-left: 220px;
    margin-right: 220px;
    color: rgb(97, 189, 220);
}

mat-icon.home{
    transform: scale(1.5);
    color: rgb(19, 19, 19);
}
  
mat-icon.search{
    transform: scale(1.1);
    color: rgb(19, 19, 19);
}
  
mat-icon.basic{
    transform: scale(1);
}