/*NAVIGATION/TOOL BAR SECTION*/
.toolbar {
  /* FLEXBOX */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* WIDTH, HEIGHT */
  height: 80px;
  /* MARGIN, PADDING */
  padding: 0px 16px;
  /* COLOR */
  background-color: rgb(97, 189, 220);
}
  
.app-title {
  /* MARGIN, PADDING */
  margin: 0px 631px 0px 0px;
  /* TEXT */
  font-size: 1.5rem;
  font-weight: bold;
  /* CURSOR */
  cursor: pointer;
}
  
.nav-buttons button {
  /* MARGIN, PADDING */
  margin-left: 10px;
}

/* UPLOAD SECTION */
.upload-container {
  /* FLEXBOX */
  display: flex;
  align-items: start;
  justify-content: center;
  /* WIDTH, HEIGHT */
  height: 100vh;
  /* COLOR */
  background-color: rgb(19, 19, 19);
}
  
mat-icon.back{
  /* COLOR */
  color: rgb(19, 19, 19);
  /* TRANSFORM */
  transform: scale(1);
}
  
button.back{
  /* MARGIN, PADDING */
  margin-top: 14px;
  margin-left: 10px;
  /* POSITION */
  position: absolute;
  top: 20;
  left: 0;
}
  
mat-card {
  /* FLEXBOX */
  display: flex;
  justify-content: space-between;
  /* WIDTH, HEIGHT */
  width: 500px;
  height: 520px;
  /* MARGIN, PADDING */
  margin-top: 15px;
  padding: 10px;
  /* COLOR */
  background-color: rgb(97, 189, 220);
  /* SHADOW */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
mat-card-header {
  /* FLEXBOX */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  /* MARGIN, PADDING */
  margin-bottom: 0px;
  /* TEXT */
  text-align: center;
  /* POSITION */
  position: relative;
}
  
.full-width {
  /* WIDTH, HEIGHT */
  width: 100%;
  /* MARGIN, PADDING */
  margin-bottom: 12px;
}

.category {
  /* WIDTH, HEIGHT */
  width: 47%;
  /* MARGIN, PADDING */
  margin-bottom: 12px;
}

.length{
  /* WIDTH, HEIGHT */
  width: 47%;
  /* MARGIN, PADDING */
  margin-bottom: 12px;
  margin-left: 26px;
}

.description{
  /* WIDTH, HEIGHT */
  width: 100%;
  /* height: 100px; */
  /* MARGIN, PADDING */
  margin-bottom: 12px;
}
  
mat-card-title{
  /* MARGIN, PADDING */
  margin-top: 12px;
  /* COLOR */
  color: rgb(19, 19, 19);
  /* TEXT */
  font-size: 1.5rem;
  font-weight: bold;
}

mat-card-content{
  /* FLEXBOX */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* MARGIN, PADDING */
  margin-top: 10px;
  gap: 5px;
}

.file-upload{
  /* FLEXBOX */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* MARGIN, PADDING */
  margin-bottom: 15px;
  padding: 5px;
  /* TEXT */
  font-size: 1rem;
  color: rgb(81, 78, 78);
  /* BORDER */
  border: 1px solid gray;
  border-radius: 5px;
}

.file-upload:hover{
  /* TEXT */
  color: black;
  /* BORDER */
  border: 1px solid black;
  border-radius: 5px;
}

#fileInput{
  display: none;
}

.button-container {
  /* FLEXBOX */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* MARGIN, PADDING */
  margin-top: 0px;
  gap: 18px;
}
  
.custom-button{
  /* COLOR */
  background-color: rgb(97, 189, 220) !important;
  color: rgb(19, 19, 19) !important;
  /* BORDER */
  border: 1px solid rgb(19, 19, 19) !important;
}
  
.custom-button:hover{
  /* COLOR */
  color: rgb(97, 189, 220) !important;
  background-color: rgb(19, 19, 19) !important;
}

/* ERROR SECTION */
.error-container{
  /* FLEXBOX */
  display: flex;
  align-items: start;
  justify-content: center;
  /* WIDTH, HEIGHT */
  height: 63vh;
  /* MARGIN, PADDING */
  margin: auto;
  /* COLOR */
  background-color: rgb(19, 19, 19);
}
  
.error{
  /* COLOR */
  color: rgb(148, 17, 17);
  /* TEXT */
  font-size: medium;
}
  
.error-button{
  /* COLOR */
  background-color: lightgray !important;
  color: rgb(19, 19, 19) !important;
  /* BORDER */
  border: 1px solid rgb(19, 19, 19) !important;
}
  
.error-button:hover{
  /* COLOR */
  color: lightgray !important;
  background-color: rgb(19, 19, 19) !important;
}
  
mat-card.error {
  /* FLEXBOX */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* WIDTH, HEIGHT */
  width: 600px;
  height: 300px;
  /* MARGIN, PADDING */
  margin-top: 20px;
  padding: 24px;
  /* COLOR */
  background-color: lightgray;
  /* TEXT */
  text-align: center;
}
  
mat-card-title.error {
  /* MARGIN, PADDING */
  margin-top: 40px;
  /* COLOR */
  color: #a70808;
  /* TEXT */
  font-weight: bold;
  font-size: 50px;
}
  
mat-card-content.error {
  /* MARGIN, PADDING */
  margin-top: 30px;
  /* COLOR */
  color: #a70808;
  /* TEXT */
  font-size: 20px;
}

/* SUCCESS SECTION */
.success-container{
  /* FLEXBOX */
  display: flex;
  align-items: start;
  justify-content: center;
  /* WIDTH, HEIGHT */
  height: 63vh;
  /* MARGIN, PADDING */
  margin: auto;
  /* COLOR */
  background-color: rgb(19, 19, 19);
}
  
.success{
  /* COLOR */
  color: rgb(31, 142, 31);
  /* TEXT */
  font-size: medium;
}
  
.success-button{
  /* COLOR */
  background-color: lightgray !important;
  color: rgb(19, 19, 19) !important;
  /* BORDER */
  border: 1px solid rgb(19, 19, 19) !important;
}
  
.success-button:hover{
  /* COLOR */
  color: lightgray !important;
  background-color: rgb(19, 19, 19) !important;
}
  
mat-card.success {
  /* FLEXBOX */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* WIDTH, HEIGHT */
  width: 600px;
  height: 300px;
  /* MARGIN, PADDING */
  margin-top: 20px;
  padding: 24px;
  /* COLOR */
  background-color: lightgray;
  /* TEXT */
  text-align: center;
}
  
mat-card-title.success {
  /* MARGIN, PADDING */
  margin-top: 40px;
  /* COLOR */
  color: rgb(31, 142, 31);
  /* TEXT */
  font-weight: bold;
  font-size: 50px;
}
  
mat-card-content.success {
  /* MARGIN, PADDING */
  margin-top: 30px;
  /* COLOR */
  color: rgb(31, 142, 31);
  /* TEXT */
  font-size: 20px;
}

/* LOADING SECTION */
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ICONS */
mat-icon.home{
  /* MARGIN, PADDING */
  padding-bottom: 6px;
  /* COLOR */
  color: rgb(19, 19, 19);
  /* TRANSFORM */
  transform: scale(1.5);
}